@layer reset, base, tokens, recipes, utilities;


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


.todo-item {
  transition: all 250ms ease-in-out;
}

.todo-item-enter {
  opacity: 1;
  transform: translateX(-100%);
}
.todo-item-exit-to {
  opacity: 0;
  transform: translateX(100%);
}
