.header {
  background: linear-gradient(180deg, rgb(5, 3, 62) 20%, rgba(12, 9, 121, 1) 44%, rgba(0, 95, 255, 1) 90%);
  /*height: 100px;*/
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  border-bottom: #4d1d83 3px solid;
  font-weight: bolder;
  font-size: 25px;

}