.todo-list {
  padding: 25px 40px;
  width: 100%;
  background: #4e8fcd;


  overflow-y: auto;
  scrollbar-gutter: stable both-edges;

  display: grid;
  gap: 3px;

  grid-auto-flow: row;
  align-content: flex-start;
  justify-content: stretch;
}