.todo-input {
  position: absolute;
  z-index: 3;
  top: 75px;
  width: 100%;
  height: 50px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr auto;
  align-content: center;
  padding-right: 40px;
  padding-left: 40px;

  input {
    outline: none;
    background: #87a2e0;
    border: none;
    border-radius: 10px 10px 4px 4px;
    padding: 5px;
    box-shadow: 2px 5px 10px 0 rebeccapurple;
    color: rebeccapurple;
    font-weight: bold;
    text-align: center;
  }

  button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: none;
    background: #4d1d83;
    transition: background-color 200ms ease;

    &:hover {
      background: #6e29bb;
    }
  }

  svg {
    height: 34px;
    color: white;
  }


}

