.todo {
  /*border: blueviolet 1px solid;*/
  height: 50px;
  background: linear-gradient(180deg, rgb(38, 26, 103) 0%, rgba(9, 66, 121, 1) 33%, rgba(0, 95, 255, 1) 100%);
  /*border-bottom: 2px solid black;*/
  box-shadow: 0 2px 2px 0 rebeccapurple;
  border-radius: 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;

  button {
    height: 36px;
    width: 36px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #4d1d83;

    &:hover {
      background: #6e29bb;
    }
  }

  svg {
    height: 30px;
    width: 30px;
    color: white;
  }


  .status {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    display: grid;
    align-items: center;
    justify-content: center;

    > svg {
      height: 24px;
      width: 24px;
      color: white;
      transition: color 200ms ease;

      &:hover {
        color: #74a1f8;
      }
    }
  }

}


